/*The slider1(Swiper) starts here*/

div.slider1{
    width: 100%;
    height: 390px;
    margin-top: 10px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    
  div.slider1>div.swiper.mySwiper>div.swiper-button-next{
    border-radius: 50%;
    width: 39px !important; 
    height: 39px !important;
    margin-left: 1375px;
    margin-top: 117px !important;
    border: 0.3px solid rgb(186, 186, 186);
  }

  div.slider1>div.swiper.mySwiper>div.swiper-button-prev{
    border-radius: 50%;
    width: 39px !important; 
    height: 39px !important;
    margin-right: 40px;
    margin-top: 117px !important;
    border: 0.3px solid rgb(186, 186, 186);
  }

  .swiper-button-next{
    border-radius: 50%;
    width: 39px !important; 
    height: 39px !important;
    border: 0.3px solid rgb(186, 186, 186);
  }

  .swiper-button-prev{
    border-radius: 50%;
    width: 37px !important; 
    height: 37px !important;
    border: 0.3px solid rgb(186, 186, 186);
  }

  /*The slider1(Swiper) ends here*/